/dts-v1/;

#include "mt7621.dtsi"
#include <dt-bindings/gpio/gpio.h>


/ {
	compatible = "nokia,a040w-q", "ralink,mt7621-soc";
	model = "Nokia A-040W-Q";

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x10000000>;
	};
	
	chosen {
		bootargs = "console=ttyS0,115200";
	};
	
	leds: leds {
		compatible = "gpio-leds";
		
		led_sys: sys {
			label = "blue:sys";
			gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;//power led is always on, this #GPIO is randomly selected.
		};

		wlan2g {
			label = "blue:wlan2g";
			gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
		};

		wlan5g {
			label = "blue:wlan5g";
			gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
		};

		led_usb: usb {
			label = "blue:usb";
			gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
			trigger-sources = <&xhci_ehci_port1>, <&ehci_port2>;
			linux,default-trigger = "usbport";
		};
	};
};



&nand {
	status = "okay";

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "u-boot";
			reg = <0x0 0x80000>;
			read-only;
		};

		partition@80000 {
			label = "u-boot-env";
			reg = <0x80000 0x80000>;
			read-only;
		};
		
		factory: partition@100000 {
			label = "factory";
			reg = <0x100000 0x40000>;
		};
		
		partition@140000 {
			label = "linux";
			reg = <0x140000 0x2000000>;
		};

		partition@0x540000 {
			label = "ubi";
			reg = <0x540000 0x1c00000>;
		};
		
		partition@2140000 {
			label = "nvram";
			reg = <0x2140000 0x200000>;
		};
		
		partition@2340000 {
			label = "ddwrt";
			reg = <0x2340000 0x4f00000>;
		};

	};
};

&pcie {
	status = "okay";
};

&pcie0 {
	wifi@0,0 {
		compatible = "mediatek,mt76";
		reg = <0x0 0 0 0 0>;
		mediatek,mtd-eeprom = <&factory 0x0>;
		mtd-mac-address = <&factory 0x4>;
	};
};


&pinctrl {
	state_default: pinctrl0 {
		gpio {
			ralink,group = "uart3", "uart2", "jtag", "wdt";
			ralink,function = "gpio";
		};
	};
};

&xhci {
	status = "okay";
};

